{% extends 'base.html' %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="../static/contact.css">
{% endblock %}

{% block content %}
    <div>
        <h1><span class="smallerfont">CONTACT US</span></h1>
    </div>
    <br>
    <p>If you need any kind of support, you can contact us on the phone number provided below</p>
    <p>Developer 1-8804413075<br>Developer 2-880193056<br>Developer 3-8201836451<br>Developer 4-7362534256</p><br>
    <h2>EMAIL</h2>
    <p>You can also mail to us for any further queries or support</p>
    <p>support@mysite.com</p>
    <br>
    <div>
        <h1><span class="bigfont">THANK YOU</span></h1>
    </diV>
{% endblock  %}